#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 18px 0px;
  font-size: 16px;
  font-weight: 600;
  margin-top: -10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  border-top: var(--main-border);
  margin-top: 10px;
}

.friends-screen__channel-header {
  padding: 18px 0px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  color: var(--font-gray);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: #3c1e1e;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 1s;
}
